<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Currency Converter</title>
</head>
<body>
<h1>Currency Converter</h1>

<div sec:authorize="isAnonymous()">
    <p>Welcome! Please <a th:href="@{/login}" href="#">log in</a> to start converting currencies.</p>
</div>

<div sec:authorize="isAuthenticated()">
    <p>Welcome, <span sec:authentication="name">Andy Dwyer</span>!</p>
    <form action="#" th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</div>

</body>
</html>