<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Currency Converter</title>

    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

</head>
<body>

<div class="container">
    <div class="page-header">
        <h1>Currency Conventer</h1>
    </div>

    <div sec:authorize="isAnonymous()">
        <p>Welcome! Please <a th:href="@{/login}" href="#">log in</a> to start converting currencies.</p>
    </div>

    <div sec:authorize="isAuthenticated()">
        <p>Welcome, <span sec:authentication="principal.fullName">Andy Dwyer</span>!  Here you
            can convert between different currencies and see the history of your conversions.</p>


        <form th:action="@{/}" action="#" method="post" th:object="${conversionDto}" class="form-inline">
            <div class="row">
                <div th:if="${#fields.hasErrors('*')}" class="alert alert-danger col-md-4" role="alert">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>
            </div>
            <p>
            <div class="form-group" name="amount" th:errorclass="has-error">
                <label for="amount">Amount:</label>
                <input type="text" name="amount" id="amount" class="form-control" th:field="*{amount}"/>
            </div>
            <div class="form-group" name="fromCurrency" th:errorclass="has-error">
                <select name="currency" id="fromCurrency" class="form-control" th:field="*{fromCurrency}">
                    <option th:each="curr : ${supportedCurrencies}"
                            th:value="${curr}"
                            th:text="${curr}">USD</option>
                </select>
            </div>
            <div class="form-group" name="toCurrency" th:errorclass="has-error">
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                <select name="currency" id="toCurrency" class="form-control" th:field="*{toCurrency}">
                    <option th:each="curr : ${supportedCurrencies}"
                            th:value="${curr}"
                            th:text="${curr}">CAD</option>
                </select>
            </div>
            <input type="submit" value="Convert" class="btn btn-primary"/>
            </p>
        </form>

        <div th:if="${conversion}"  class="row">
            <div class="col-md-8">
                <div class="jumbotron">
                    <h2 ><span th:text="${#numbers.formatDecimal(conversion.source.amount,0,2)}">13.25</span>
                        <span th:text="${conversion.source.currency}">USD</span>
                        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                        <span th:text="${#numbers.formatDecimal(conversion.target.amount,0,2)}">18.25</span>
                        <span th:text="${conversion.target.currency}">CAD</span>
                    </h2>
                </div>
            </div>
        </div>


        <p th:if="${#lists.isEmpty(conversionHistory)}">Your conversion history is empty.</p>


        <div th:unless="${#lists.isEmpty(conversionHistory)}" class="row">
            <div class="col-md-8">
                <table class="table">
                    <tr>
                        <th>Date/Time</th>
                        <th>Conversion</th>
                    </tr>
                    <tr th:each="conv : ${conversionHistory}">
                        <td th:text="${#temporals.format(conv.timestamp, 'dd/MMM/yyyy HH:mm')}">2017/Jan/01 14:00</td>
                        <td><span th:text="${#numbers.formatDecimal(conv.source.amount,0,2)}">215.34</span>
                            <span th:text="${conv.source.currency}">USD</span>
                            <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                            <span th:text="${#numbers.formatDecimal(conv.target.amount,0,2)}">314.45</span>
                            <span th:text="${conv.target.currency}">CAD</span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <form th:action="@{/logout}" method="post">
            <div class="row">
                <div class="col-md-12">
                    <input type="submit" value="Sign Out" class="btn btn-primary"/>
                </div>
            </div>
        </form>
    </div>
    
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

</body>
</html>