<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Currency Conventer</title>

    <link rel="shortcut icon" href="favicon.ico" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous"/>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css"
          integrity="sha256-8qbGU+6CyzZndATqt8JYzpha71ptNqBkpagFVI+t6oI=" crossorigin="anonymous" />
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>User Registration</h1>
    </div>
    <form th:action="@{/register}" th:object="${userDto}" method="post">
        <div class="row">
            <div th:if="${#fields.hasErrors('global')}" class="alert alert-danger col-md-4" role="alert">
                <ul>
                    <li th:each="err : ${#fields.errors('global')}" th:text="${err}">Input is incorrect</li>
                </ul>
            </div>
        </div>
        <p>Please enter registration details.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="email" th:errorclass="has-error">
                    <label for="email"> E-Mail: </label>
                    <input type="text" name="email" id="email" class="form-control" th:field="*{email}"/>
                    <span class="help-block" th:if="${#fields.hasErrors('email')}"
                          th:errors="*{email}">E-Mail Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="firstName" th:errorclass="has-error">
                    <label for="firstName"> First Name: </label>
                    <input type="text" name="firstName" id="firstName" th:field="*{firstName}" class="form-control"/>
                    <span class="help-block" th:if="${#fields.hasErrors('firstName')}"
                      th:errors="*{firstName}">First Name Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" name="lastName" th:errorclass="has-error">
                <div class="form-group" name="lastName" th:errorclass="has-error">
                    <label for="lastName"> Last Name: </label>
                    <input type="text" name="lastName" id="lastName" th:field="*{lastName}" class="form-control"/>
                <span class="help-block" th:if="${#fields.hasErrors('lastName')}"
                      th:errors="*{lastName}">Last Name Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="password"> Password: </label>
                    <input type="password" name="password" id="password" th:field="*{password}" class="form-control"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="repeatPassword" th:errorclass="has-error">
                    <label for="repeatPassword"> Repeat Password: </label>
                    <input type="password" name="repeatPassword" id="repeatPassword" th:field="*{repeatPassword}"
                           class="form-control"/>
                <span class="help-block" th:if="${#fields.hasErrors('repeatPassword')}"
                      th:errors="*{repeatPassword}">Password Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="birthday" th:errorclass="has-error">
                    <label for="address.line1"> Birth Date: </label>
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/M/yyyy">
                        <input type="text" name="birthday" id="birthday" th:field="*{birthday}"
                               class="form-control"/>
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('birthday')}"
                          th:errors="*{birthday}">Birth Date Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="address.line1" th:errorclass="has-error">
                    <label for="address.line1"> Address: </label>
                    <input type="text" placeholder="Line 1" name="address.line1" id="address.line1" th:field="*{address.line1}"
                           class="form-control"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.line1')}"
                          th:errors="*{address.line1}">Address Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="address.line2" th:errorclass="has-error">
                    <input type="text" placeholder="Line 2" name="address.line2" id="address.line2" th:field="*{address.line2}"
                           class="form-control"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.line2')}"
                          th:errors="*{address.line2}">Address Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="address.zip" th:errorclass="has-error">
                    <label for="address.zip"> Zip Code: </label>
                    <input type="text" name="address.zip" id="address.zip" th:field="*{address.zip}"
                           class="form-control"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.zip')}"
                          th:errors="*{address.zip}">Address Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group" name="address.city" th:errorclass="has-error">
                    <label for="address.city"> City: </label>
                    <input type="text" name="address.city" id="address.city" th:field="*{address.city}"
                           class="form-control"/>
                    <span class="help-block" th:if="${#fields.hasErrors('address.city')}"
                          th:errors="*{address.city}">Address Error</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="address.country"> Country: </label>

                    <select name="address.country" id="address.country" class="form-control" th:field="*{address.country}">
                        <option th:each="curr : ${countries}"
                                th:value="${curr.id}" value="1"
                                th:text="${curr.name}">Poland</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input type="submit" value="Register" class="btn btn-primary"/>
                <input th:if="${param.login}" type="button" value="Cancel" class="btn btn-default"
                       onclick="javascript:window.location = '/login'"/>
            </div>
        </div>
    </form>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"
        integrity="sha256-zXNrZH6Aqd2T5QyZumro0VuxbhdKhOiQhxtw6YxgjUM=" crossorigin="anonymous"></script>

<script>
    $('#birthday').datepicker();
</script>
</body>
</html>